<div id="comment<%= comment.id %>" class="comment">
	<div class="panel-heading">
		<h4><%= comment.user.email %> said:</h4>
		<p class="text-muted">On <%= comment.updated_at.to_time.strftime("%B %-d, %Y @ %I:%M%P") %></p>
	</div>
	
	<div class="panel-body">
		<p><%= comment.content %></p>
		<%= link_to "Reply",
							new_comment_path(comment: { commentable_type: Comment, commentable_id: comment.id }),
							remote: true, :class => "reply-link"	%>
		<% comment.comments.each do |comment| %>
		  <%= render comment %>
		<% end %>
	</div>
</div>