

<li>
  <div class="comment" id="comment<%= comment.id %>">
    <h6><%= comment.user.email %> - <span><%= comment.created_at %></span></h6>
    <p><%= comment.content %></p>
  </div>

  <div class="reply-form">
    <%= form_for Comment.new(commentable_id: comment.id, commentable_type: "Comment") do |f| %>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <%= f.text_area :content, id: 'reply_content', :class => 'form-control' %>
      <%= f.submit "Submit", :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <ul>
    <% comment.comments.each do |reply| %>
      <%= render 'comments/replies', comment: reply %>
    <% end %>
  </ul>
</li>

