<h2><%= @post.title %></h2>

<h3><%= link_to @post.url, @post.url %></h3>
<h5><%= @post.user.email %></h5>

<% if current_user %>
  <h1>New Comment</h1>
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :commentable_type %>
    <%= f.label "Enter your text here" %>
    <%= f.text_area :content, :class => 'form-control' %>
    <%= f.submit "Submit", :class => 'btn btn-primary' %>
  <% end %>
<% end %>
<div class="comment-section">

  <%= render 'comments/replies', parent: @post %>

</div>



