<h2><%= @post.title %></h2>

<h3><%= link_to @post.url, @post.url %></h3>
<h5><%= @post.user.email %></h5>

<% if current_user %>
 

  
<%= link_to "New Comment", new_comment_path(comment: { commentable_id: @post.id, commentable_type: @post.class }), id: 'new_comment_link', remote: true %>



<% end %>
<div>

  <ul class="comment-section">
  <% @post.comments.each do |comment| %>
    <%= render 'comments/replies', comment: comment %>
  <% end %>
  </ul>
</div>


