<h2><%= link_to @post.title, @post.url %>
<small class="text-muted"> |
	<%= pluralize(@post.votes.count, 'vote') %> by
	<%= @post.user.email %> on
	<%= @post.created_at.to_time.strftime('%b %-d, %Y @ %-I:%M%P') %>
</small>
</h2>

<% if current_user %>
	<%= link_to "Comment", new_comment_path(comment: { commentable_id: @post.id, commentable_type: @post.class }), id: 'new_comment_link', remote: true, :class => 'btn btn-primary' %>
<% end %>

<h2>Comments ▼</h2>

<div id="comment-section">
  <% @post.comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>


